@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-white text-black dark:bg-gray-950 dark:text-white;
}

@theme {
  /* Reset all default breakpoints */
  --breakpoint-*: initial; 

  /* Define your custom breakpoints */
  --breakpoint-sm: 420px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 720px;
  --breakpoint-xl: 1200px; /* Example of a new custom breakpoint */
}
